.main-content {
    background-color: rgb(var(--clr-lt-main));
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: min-content;
}

.main-content > a.buttonize {
    color: rgb(var(--clr-lt-main));
}