.new-contract {
    background-color: rgba(var(--clr-lt-main), 0.85);
    border-radius: 5px;
    padding: 10px;
}

.new-contract .new-contract-form {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: var(--clr-near-blk);
    background-color: rgb(var(--clr-lt-main));
    border-radius: 5px;
}

.new-contract .new-contract-form > label,
.new-contract .new-contract-form > input {
    display: block;
    width: 100%;
}

.new-contract .new-contract-form label {
    margin-bottom: 3px;
}

.new-contract .new-contract-form input {
    padding: 5px;
}

.new-contract .new-contract-form input, .new-contract .new-contract-form label {
    font-size: 16px;
}

.new-contract .new-contract-form input:not(:last-child) {
    margin-bottom: 10px;
}

.new-contract .menu-options {
    display: flex;
    margin-top: 10px;
}

.new-contract .menu-options > *:not(:last-child) {
    margin-right: 5px;
}

.new-contract .menu-options > :last-child {
    margin-left: auto;
}