.new-contract-line-items {
    text-align: left;
    width: 100%;
}

.new-contract-line-items thead th {
    width: calc(100% / 3);
}

.new-contract-line-items input{
    width: 100%;
}

.new-contract-line-items .x {
    font-size: 25px;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, var(--opacity));
    color: rgb(var(--clr-lt-main));
    visibility: hidden;
}

.new-contract-line-items tr:hover .x {
    visibility: visible;
}

.new-contract-line-items .x:hover {
    --opacity: 1;
    visibility: visible;
}

.new-contract-line-items .menu-options {
    display: flex;
    margin-top: 10px;
}

.new-contract-line-items .menu-options > *:not(:last-child) {
    margin-right: 5px;
}

.new-contract-line-items .menu-options > :last-child {
    margin-left: auto;
}