.new-contract-line-items {
    text-align: left;
    width: 100%;
}

.new-contract-line-items thead th {
    width: calc(100% / 3);
}

.new-contract-line-items input{
    width: 100%;
}

.new-contract-line-items .x {
    font-size: 25px;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: rgb(var(--clr-lt-main));
    visibility: hidden;
}

.new-contract-line-items tr:hover .x {
    visibility: visible;
}

.new-contract-line-items .x:hover {
    --opacity: 1;
    visibility: visible;
}