.new-resource {
    background-color: rgba(var(--clr-lt-main), 0.85);
    border-radius: 5px;
    padding: 10px;
}

.new-resource .new-resource-form {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    color: var(--clr-near-blk);
    background-color: rgb(var(--clr-lt-main));
    border-radius: 5px;
}

.new-resource .menu-options {
    display: flex;
    margin-top: 10px;
}

.new-resource .menu-options > *:not(:last-child) {
    margin-right: 5px;
}

.new-resource .menu-options > :last-child {
    margin-left: auto;
}