.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar > * {
    padding: 10px;
    color: rgba(var(--clr-lt-main), .5);
}

.sidebar > *:first-child {
    margin-top: 10px;
}

.sidebar > *:hover, .sidebar > .link-match {
    color: rgb(var(--clr-lt-main));
}