.sidebar {
    background-color: var(--clr-dark-main);
    color: rgba(var(--clr-lt-main), .5);
}

.sidebar > * {
    padding: 10px;
}

.sidebar > *:first-child {
    margin-top: 10px;
}

.sidebar > *:hover {
    color: rgb(var(--clr-lt-main));
}