:root {
	--clr-dark-main: #180045;
	--clr-lt-main: 255, 255, 255;
	--opacity: 0.85;
}  

* {
	box-sizing: border-box;
}

html, body, #root, .App {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: var(--clr-dark-main);
}

.plain-link {
	text-decoration: none;
}

.clr-salmon {
	background-color: #f4845cd9
}

.clr-green {
	background-color: rgba(56, 150, 17, var(--opacity));
}

.clr-green:hover {
	--opacity: 1;
}

.buttonize {
    height: 40px;
	border-radius: 5px;
	display: flex;
    align-items: center;
    justify-content: center;
}